@font-face {
    font-family: Inter;
    src: url(./Inter-VariableFont_opsz\,wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(./Inter-VariableFont_opsz\,wght.ttf);
    font-style: italic;
}